<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>4 lunas</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/css/demo.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        4 lunas
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users">
                            <i class="nc-icon nc-single-02"></i>
                            <p>CRUD Users</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/banners">
                            <i class="nc-icon nc-album-2"></i>
                            <p>CRUD Banners</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/annotations-users">
                            <i class="nc-icon nc-single-copy-04"></i>
                            <p>Report</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/logout-admin">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="nc-icon nc-circle-09"></i> Total Registered</h4>
                                </div>
                                <div class="card-body">
                                    <h2 style="text-align:center;"><%= countUsers.contador_usuarias %></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">&#128512; Total Happy</h4>
                                </div>
                                <div class="card-body">
                                    <h2 style="text-align:center;"><%= countAnnotationsHappy.contador_feliz %></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">&#128532; Total Sad</h4>
                                </div>
                                <div class="card-body">
                                    <h2 style="text-align:center;"><%= countAnnotationsSad.contador_triste %></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">&#128528; Total Media</h4>
                                </div>
                                <div class="card-body">
                                    <h2 style="text-align:center;"><%= countAnnotationsRegular.contador_medio %></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 separate-card">
                            <div class="card h-100">
                                <div class="card-header ">
                                    <h4 class="card-title">Statistics By Ages</h4>
                                </div>
                                <div class="card-body ">
                                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Total under 18 years old
                                        <i class="fa fa-circle text-danger"></i> Total from 18 to 54 years old
                                        <i class="fa fa-circle text-warning"></i> Total over 54 years old
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="card h-100">
                                <div class="card-header ">
                                    <h4 class="card-title">Annotations Per Day</h4>
                                </div>
                                <div class="card-body ">
                                    <div id="chartHours" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 separate-card">
                            <div class="card h-100">
                                <div class="card-header ">
                                    <h4 class="card-title">Registered Users</h4>
                                </div>
                                <div class="card-body ">
                                    <div id="chartActivity" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card h-100">
                                <div class="card-header ">
                                    <h4 class="card-title">Amount of Study Degree of Users</h4>
                                </div>
                                <div class="card-body ">
                                    <div id="chartActivity2" class="ct-chart"></div>
                                </div>
                                <div class="card-footer ">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Preparatory
                                        <i class="fa fa-circle text-danger"></i> Bachelor's Degree
                                        <i class="fa fa-circle text-warning"></i> Master's Degree
                                        <i class="fa fa-circle text-success"></i> Doctorate
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/core/popper.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/js/plugins/bootstrap-switch.js"></script>
<!--  Chartist Plugin  -->
<script src="/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>
<script type="text/javascript">
    var percentaje = <%- JSON.stringify(arrayPercentage) %>;
    var percentageString = <%- JSON.stringify(arrayPercentageString) %>;
    var annotationsDates = <%- JSON.stringify(arrayAnnotationsDates) %>;
    var annotations = <%- JSON.stringify(arrayAnnotations) %>;
    var users = <%- JSON.stringify(arrayUsers) %>;
    var degreeStudy = <%- JSON.stringify(arrayPollDegreeStudy) %>;
    $(document).ready(function() {
        demo.initDashboardPageCharts(percentaje, percentageString, annotationsDates, annotations, users, degreeStudy);
    });
</script>

</html>
